.header{
    padding: 20px;
    text-align: center;
}
.header.red{
    background-color:#ff4d4d;
}
.header.orange{
    background-color:#ff794d;
}
.header.orange-2{
    background-color:#ffa64d;
}
.header.orange-1{
    background-color:#ffd24d;
}
.header.yellow{
    background-color:#ffff4d;
}
.header.green-1{
    background-color:#4dff4d;
}
.header.light-green-2{
    background-color:#4dffa6;
}
.header.light-green-1{
    background-color:#4dffd2;
}
.header.light-blue-2{
    background-color:#4dd2ff;
}
.header.light-blue-1{
    background-color:#4da6ff;
}
.header.blue{
    background-color:#4d79ff;
}
.header.dark-blue{
    background-color:#4d4dff;
}
.header.pink{
    background-color:#ff4dff;
}
.header.black{
    background-color:black;
}
.header.white{
    background-color:white;
}
.floater{
    padding: 10px;
  text-align: center;
}
.floater.red{
 background-color:#ff4d4d;
}
.floater.orange{
 background-color:#ff794d;
}
.floater.orange-2{
 background-color:#ffa64d;
}
.floater.orange-1{
 background-color:#ffd24d;
}
.floater.yellow{
 background-color:#ffff4d;
}
.floater.green-1{
 background-color:#4dff4d;
}
.floater.light-green-2{
 background-color:#4dffa6;
}
.floater.light-green-1{
 background-color:#4dffd2;
}
.floater.light-blue-2{
 background-color:#4dd2ff;
}
.floater.light-blue-1{
 background-color:#4da6ff;
}
.floater.blue{
 background-color:#4d79ff;
}
.floater.dark-blue{
 background-color:#4d4dff;
}
.floater.pink{
 background-color:#ff4dff;
}
.floater.black{
 background-color:black;
}
.floater.white{
 background-color:white;
}
body {
    background-color: #f1f1f1;
    color: black;
    padding: 20px;
    font-family: Arial;
  }
  .dark-mode {
    background-color: black;
    color: black;
    padding: 20px;
    font-family: Arial;
  }
   /* Style the top navigation bar */
   .topnav {
    overflow: hidden;
    background-color: #ddd;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #ddd;
  }
  
  /* Change color on hover */
   .btn:hover {
    background-color: #7e6b6b;
    color: black;
  }
  /* Change color on hover */
  .topnav a:hover {
    background-color: #7e6b6b;
    color: black;
  }
  .column100 {
    float: left;
    padding: 10px;
    width: 100%;
  }
 .column50 {
    float: left;
    padding: 10px;
    width: 50%;
  }
 .column75 {
    float: left;
    padding: 10px;
    width: 75%;
  }
 .column66 {
    float: left;
    padding: 10px;
    width: 66%;
  }
 .column33 {
    float: left;
    padding: 10px;
    width: 33%;
  }
  .column100.red{
    background-color:#ff4d4d;
 }
 .column100.orange{
    background-color:#ff794d;
 }
 .column100.orange-2{
    background-color:#ffa64d;
 }
 .column100.orange-1{
    background-color:#ffd24d;
 }
 .column100.yellow{
    background-color:#ffff4d;
 }
 .column100.green-1{
    background-color:#4dff4d;
 }
 .column100.light-green-2{
    background-color:#4dffa6;
 }
 .column100.light-green-1{
    background-color:#4dffd2;
 }
 .column100.light-blue-2{
    background-color:#4dd2ff;
 }
 .column100.light-blue-1{
    background-color:#4da6ff;
 }
 .column100.blue{
    background-color:#4d79ff;
 }
 .column100.dark-blue{
    background-color:#4d4dff;
 }
 .column100.pink{
    background-color:#ff4dff;
 }
 .column100.black{
    background-color:black;
 }
 .column100.white{
    background-color:white;
 }
 .column50.red{
    background-color:#ff4d4d;
 }
 .column50.orange{
    background-color:#ff794d;
 }
 .column50.orange-2{
    background-color:#ffa64d;
 }
 .column50.orange-1{
    background-color:#ffd24d;
 }
 .column50.yellow{
    background-color:#ffff4d;
 }
 .column50.green-1{
    background-color:#4dff4d;
 }
 .column50.light-green-2{
    background-color:#4dffa6;
 }
 .column50.light-green-1{
    background-color:#4dffd2;
 }
 .column50.light-blue-2{
    background-color:#4dd2ff;
 }
 .column50.light-blue-1{
    background-color:#4da6ff;
 }
 .column50.blue{
    background-color:#4d79ff;
 }
 .column50.dark-blue{
    background-color:#4d4dff;
 }
 .column50.pink{
    background-color:#ff4dff;
 }
 .column50.black{
    background-color:black;
 }
 .column50.white{
    background-color:white;
 }
 .column75.red{
    background-color:#ff4d4d;
 }
 .column75.orange{
    background-color:#ff794d;
 }
 .column75.orange-2{
    background-color:#ffa64d;
 }
 .column75.orange-1{
    background-color:#ffd24d;
 }
 .column75.yellow{
    background-color:#ffff4d;
 }
 .column75.green-1{
    background-color:#4dff4d;
 }
 .column75.light-green-2{
    background-color:#4dffa6;
 }
 .column75.light-green-1{
    background-color:#4dffd2;
 }
 .column75.light-blue-2{
    background-color:#4dd2ff;
 }
 .column75.light-blue-1{
    background-color:#4da6ff;
 }
 .column75.blue{
    background-color:#4d79ff;
 }
 .column75.dark-blue{
    background-color:#4d4dff;
 }
 .column75.pink{
    background-color:#ff4dff;
 }
 .column75.black{
    background-color:black;
 }
 .column75.white{
    background-color:white;
 }
 .column66.red{
    background-color:#ff4d4d;
 }
 .column66.orange{
    background-color:#ff794d;
 }
 .column66.orange-2{
    background-color:#ffa64d;
 }
 .column66.orange-1{
    background-color:#ffd24d;
 }
 .column66.yellow{
    background-color:#ffff4d;
 }
 .column66.green-1{
    background-color:#4dff4d;
 }
 .column66.light-green-2{
    background-color:#4dffa6;
 }
 .column66.light-green-1{
    background-color:#4dffd2;
 }
 .column66.light-blue-2{
    background-color:#4dd2ff;
 }
 .column66.light-blue-1{
    background-color:#4da6ff;
 }
 .column66.blue{
    background-color:#4d79ff;
 }
 .column66.dark-blue{
    background-color:#4d4dff;
 }
 .column66.pink{
    background-color:#ff4dff;
 }
 .column66.black{
    background-color:black;
 }
 .column66.white{
    background-color:white;
 }
.column33.red{
    background-color:#ff4d4d;
 }
 .column33.orange{
    background-color:#ff794d;
 }
 .column33.orange-2{
    background-color:#ffa64d;
 }
 .column33.orange-1{
    background-color:#ffd24d;
 }
 .column33.yellow{
    background-color:#ffff4d;
 }
 .column33.green-1{
    background-color:#4dff4d;
 }

 .column33.light-green-2{
    background-color:#4dffa6;
 }
 .column33.light-green-1{
    background-color:#4dffd2;
 }
 .column33.light-blue-2{
    background-color:#4dd2ff;
 }
 .column33.light-blue-1{
    background-color:#4da6ff;
 }
 .column33.blue{
    background-color:#4d79ff;
 }
 .column33.dark-blue{
    background-color:#4d4dff;
 }
 .column33.pink{
    background-color:#ff4dff;
 }
 .column33.black{
    background-color:black;
 }
 .column33.white{
    background-color:white;
 }
 /* card */
.card{
    padding: 7px 10px;
    margin-top: 3px;
}

.card:hover.red {
  border: 4px solid #ff4d4d;
}
.card:hover.orange {
  border: 4px solid #ff794d;
}
.card:hover.orange-2 {
  border: 4px solid #ffa64d;
}
.card:hover.orange-1 {
  border: 4px solid #ffd24d;
}
.card:hover.yellow {
  border: 4px solid #ffff4d;
}
.card:hover.green-1 {
  border: 4px solid #4dff4d;
}
.card:hover.light-green-2 {
  border: 4px solid #4dffa6;
}
.card:hover.light-green-1 {
  border: 4px solid #4dffd2;
}
.card:hover.light-blue-2 {
  border: 4px solid #4dd2ff;
}
.card:hover.light-blue-1 {
  border: 4px solid #4da6ff;
}
.card:hover.blue {
  border: 4px solid blue;
}
.card:hover.dark-blue {
  border: 4px solid #4d4dff;
}
.card:hover.black {
  border: 4px solid black;
}
.card:hover.Pink {
  border: 4px solid #ff4dff;
}
.card:hover.white {
  border: 4px solid white;
}
.header-left{
    padding: 20px;
    text-align: left;
 }
 .header-left.red{
    background-color:#ff4d4d;
 }
 .header-left.orange{
    background-color:#ff794d;
 }
 .header-left.orange-2{
    background-color:#ffa64d;
 }
 .header-left.orange-1{
    background-color:#ffd24d;
 }
 .header-left.yellow{
    background-color:#ffff4d;
 }
 .header-left.green-1{
    background-color:#4dff4d;
 }
 .header-left.light-green-2{
    background-color:#4dffa6;
 }
 .header-left.light-green-1{
    background-color:#4dffd2;
 }
 .header-left.light-blue-2{
    background-color:#4dd2ff;
 }
 .header-left.light-blue-1{
    background-color:#4da6ff;
 }
 .header-left.blue{
    background-color:#4d79ff;
 }
 .header-left.dark-blue{
    background-color:#4d4dff;
 }
 .header-left.pink{
    background-color:#ff4dff;
 }
 .header-left.black{
    background-color:black;
 }
 .header-left.white{
    background-color:white;
 }